@tailwind base;
@tailwind components;
@tailwind utilities;

iframe {
    background-image: url("https://media.giphy.com/media/8agqybiK5LW8qrG3vJ/giphy.gif");
    background-repeat: no-repeat;
    background-position: center;
}

/* For Webkit Browsers: Chrome, Safari, Opera */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}